* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    margin:0;
    padding: 0;
    background-color: rgb(191, 224, 224);
 
    
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 21px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-inline-start: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    /* margin-right: -1px; */
    /* margin-top: -1px; */
    padding: 0;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    width: 50px;
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  .board-row{
    display: flex;
    justify-content: center;
    /* align-items: center;  */
  
  }
  .board-row div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; 
  
}

  
  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
  }
  .game {
    display: flex;
    flex-direction: row;
    
  }
  
  .game-info {
    margin-left: 20px;
  }
  